.call4paper {
	padding: 120px 0;
	.content-block{
		margin-left: 15px;
		h2{
			&:after{
				content: "";
				width: 60px;
				height: 3px;
				background: $primary-color;
				display: block;
				margin-top: 10px;
				@include tablet {
					margin: auto;
				}
			}
			margin-bottom: 35px;
		}
		.description-one{
			color: $black;
				font-size: 1.0625rem;
				text-align: justify;
				line-height: 1.5;
				margin-bottom: 1em;
				margin-bottom: 20px;
			a{
				font-size: 1.1rem;
				color: $primary-color;
				font-weight: 400;
				margin-bottom: 0;
				&:hover{
					color: $secondary-color;
				}
			}
		}
		.description-two{
			ol li{
                color: $dark-gray;
				font-size: 0.9375em;
			}
			margin-bottom: 30px;
		}
		
	}
}