.registration{
	.description-one {
		p {
			color: $black;
			font-size: 1.0625rem;
			text-align: justify;
			line-height: 1.5;
			margin-bottom: 1em;
		}
		margin-bottom: 20px;
	}
	button{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}