// Variables
//$body-color: #2c0635; // Roxo 2c0635 verde : #06c7b4  verde musgo: #98cd0d
$body-color: #ffffff; // Roxo 2c0635 verde : #06c7b4  verde musgo: #98cd0d
$primary-color: #2192fc; // azul claro 2192fc
$secondary-color: #3831fc; // rosa: fc318b
//$border-color:#e5e5e5;
$border-color:#ffffff;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
//$text-color: #fffefe;// #848484
$text-color: #2c0635;// #848484
$gray: #eae9ec;
$dark-gray: #4d4a4aca;
$light-gray: #fafafa;
$light: #fff; // branco #fff
$black: #222222;
$icon-font: FontAwesome;
