// Variables
$body-color: #2c0635; // Roxo 2c0635 verde : #06c7b4  verde musgo: #98cd0d
$primary-color: #2192fc; // azul claro 2192fc
$secondary-color: #fc318b; // rosa: fc318b
$border-color:#e5e5e5;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$text-color: #fffefe;// #848484
$gray: #eae9ec;
$light-gray: #fafafa;
$light: #fff; // branco #fff
$black: #222222;
$icon-font: FontAwesome;
