<!--===========================
=            About            =
============================-->

<section class="section dates bg-lightblue">
    <div class="container">
        <h2>Important Dates</h2>
        <ol>
            <li>Paper submissions (final call for papers): <s>April 29th, 2023</s> <b>May 29th, 2023</b> </li>
            <li>Theses Contest Deadline: <b>July 7th, 2023 </b></li>
            <li>Notification of acceptance: <b>July 1st, 2023</b></li>
            <li>Final paper submission: <b>July 29th, 2023</b></li>
            <!--
            <li>Early Registration: <b>August 30th, 2023</b></li>
            <li>IEEE CIS SSoCIA 2023:<b> October 29th, 2023</b></li>
            -->
        </ol>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="submission.html" class="btn btn-main-md">Submit Paper</a>
            </li>
        </ul>
    </div>
</section>

<!--====  End of About  ====-->