<!--============================
=            Footer            =
=============================-->

<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <div class="footer-logo">
            <img src="images/footer-logo.png" alt="logo" class="img-fluid">
          </div>
          <ul class="social-links-footer list-inline">
            <!--
            <li class="list-inline-item">
              <a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a>
            </li>
            -->
            <li class="list-inline-item">
              <a href="https://twitter.com/IeeeLacci"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/ieeelacci/"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/events/8thieeela-ccilatinamericanconfe6927281720010387456/comments/"><i class="fa fa-linkedin"></i></a>
            </li>
            <!--
            <li class="list-inline-item">
              <a href="https://themefisher.com/"><i class="fa fa-rss"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://themefisher.com/"><i class="fa fa-vimeo"></i></a>
            </li>
            -->
          </ul>
          <div class="section-title white">
            <h3><a href="https://secure.ethicspoint.com/domain/media/en/gui/20410/index.html">IEEE Ethics Reporting</a> </h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- Subfooter -->
<footer class="subfooter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="copyright-text">
          <p><a href="index.html"></a>LA-CCI</a> © 2022-2023 | Todos os direitos reservados</p>
          <p>Powered by <a target="_blank" href="https://themefisher.com/">Themefisher</a> under <a target="_blank" href="https://themefisher.com/products/eventre">Eventre</a> Theme</p>
        </div>
      </div>
      <div class="col-md-6">
        <a href="#" class="to-top"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</footer>
