<!--==============================
=            Sponsors            =
===============================-->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="content-block">
				<h2>Keynotes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/emezura-rs.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. Efrén Mezura-Montes</h2>
					<div class="description-two">
						<p>
							Dr. Efrén Mezura-Montes is a full-time researcher with the Artificial Intelligence Research Institute at the University of Veracruz, MEXICO. His research interests are designing, analyzing, and applying bio-inspired algorithms to solve complex optimization problems. He has published over 200 papers in peer-reviewed journals and conferences. He has three edited books and over 12 book chapters published by international publishing companies. From his work, Google Scholar reports over 9,300 citations. 
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="keynote-mezura-montes.html" class="btn btn-main-md">Details About the Talk</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/joao_gama-rs.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. João Gama</h2>
					<div class="description-two">
						<p>
							Dr. João Gama is a Full Professor at the School of Economics, University of Porto, Portugal. He received his Ph.D. in Computer Science from the University of Porto in 2000. He is EurIA Fellow, IEEE Fellow, Fellow of the Asia-Pacific AI Association, and member of the board of directors of the LIAAD, a group belonging to INESC Tec.
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="keynote-gama.html" class="btn btn-main-md"> Details About the Talk</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/sarfaraz.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. Sarfaraz Hashemkhani Zolfani </h2>
					<div class="description-two">
						<p>
							Dr. Sarfaraz Hashemkhani Zolfani is an associate professor at the School of Engineering, Universidad Catolica del Norte, Coquimbo campus, Chile. He is also a visiting professor at the University of Portsmouth under the Isambard Kingdom Fellowship Scheme. Dr. Hashemkhani Zolfani is an associate editor in the "Engineering Applications of Artificial Intelligence" (Elsevier journal). He is also an editorial board member of various journals such as Financial Innovation, Technological and Economic Development of Economy, Transport, Decision Making: Applications in Management and Engineering, Operational Research in Engineering Sciences: Theory and Applications, etc. Dr. Hashemkhani Zolfani is also an active reviewer in more than 100 ISI and Scopus-indexed journals. 
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="keynote-hashemkhani.html" class="btn btn-main-md">Details About the Talk</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/tino-peter.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. Peter Tino </h2>
					<div class="description-two">
						<p>
							Peter the Chair position in Complex and Adaptive Systems at the School of Computer Science, University of Birmingham, UK. His interests span machine learning, neural computation, probabilistic modelling and dynamical systems. Peter is fascinated by the possibilities of cross-disciplinary blending of machine learning, mathematical modelling and domain knowledge in a variety of scientific disciplines ranging from astrophysics to bio-medical sciences.
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="keynote-peter-tino.html" class="btn btn-main-md">Details About the Talk</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Sponsors  ====-->