<!--==============================
=            Sponsors            =
===============================-->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="content-block">
				<h2>Keynotes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/emezura-rs.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. Efrén Mezura-Montes</h2>
					<div class="description-two">
						<p>
							Dr. Efrén Mezura-Montes is a full-time researcher with the Artificial Intelligence Research Institute at the University of Veracruz, MEXICO. His research interests are designing, analyzing, and applying bio-inspired algorithms to solve complex optimization problems. He has published over 200 papers in peer-reviewed journals and conferences. He has three edited books and over 12 book chapters published by international publishing companies. From his work, Google Scholar reports over 9,300 citations. 
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://www.uv.mx/personal/emezura/" class="btn btn-main-md">Read More</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/joao_gama-rs.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Prof. João Gama</h2>
					<div class="description-two">
						<p>
							Dr. João Gama is a Full Professor at the School of Economics, University of Porto, Portugal. He received his Ph.D. in Computer Science from the University of Porto in 2000. He is EurIA Fellow, IEEE Fellow, Fellow of the Asia-Pacific AI Association, and member of the board of directors of the LIAAD, a group belonging to INESC Tec.
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://sigarra.up.pt/fep/pt/func_geral.formview?p_codigo=205489" class="btn btn-main-md">Read More</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/sarfaraz.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Dr. Sarfaraz Hashemkhani Zolfani </h2>
					<div class="description-two">
						<p>
							Dr. Sarfaraz Hashemkhani Zolfani is an Assistant Professor at School of Engineering in Universidad Catolica del Norte.
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://scholar.google.se/citations?user=ULIXRvMAAAAJ&hl=en" class="btn btn-main-md">Read More</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-6 align-self-center">
				<div class="image-block two bg-about">
					<img class="img-fluid" src="images/keynotes/tino-peter.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
				<div class="content-block">
					<h2> Dr. Peter Tino </h2>
					<div class="description-two">
						<p>
							Dr. Peter Tino is a Professor of Complex and Adaptive Systems in Computer Science at The Centre for Human Brain Health (CHBH).
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://www.cs.bham.ac.uk/~pxt/" class="btn btn-main-md">Read More</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Sponsors  ====-->