<!--========================================
=            Navigation Section            =
 <div class="row">
      <div id="consent-popup" class="hidden">
        <p>By using this site you agree to our <a href="#">Terms and Conditions</a>.
            Please <a id="accept" href="#">Accept</a> these before using the site.
        </p>
    </div>
=========================================-->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="navbar-brand" href="index.html">
      <img src="images/logos/logo-nav.png" alt="logo">
      <img src="images/logos/ieee-small.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#!" data-toggle="dropdown">Atteding<i class="fa fa-angle-down"></i><span>/</span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="venue-recife.html">Venue: Recife</a></li>
            <!-- 
            <li><a class="dropdown-item" href="venue-city.html">Venue: Ipojuca</a></li>
            <li><a class="dropdown-item" href="venue-porto.html">Venue: Porto de Galinhas</a></li>
            <li><a class="dropdown-item" href="venue-armacao.html">Venue: Armação Hotel</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#!" data-toggle="dropdown">Calls<i class="fa fa-angle-down"></i><span>/</span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="call-for-paper.html">Call For Paper</a></li>
            <li><a class="dropdown-item" href="submission.html">Submission</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#!" data-toggle="dropdown">Information<i class="fa fa-angle-down"></i><span>/</span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="keynotes.html">Keynotes</a></li>
            <li><a class="dropdown-item" href="organizing-committee.html">Organizing Committee</a></li>
            <li><a class="dropdown-item" href="technical-committee.html">Technical Track Committee</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manifesto.html">Manifesto</a>
        </li>
      </ul>
      <a href="registration.html" class="ticket">
        <img src="images/icon/ticket.png" alt="ticket">
        <span>Inscrição</span>
      </a>
    </div>
  </div>
</nav>
<!--====  End of Navigation Section  ====-->
