<!--==============================
=            Schedule            =
===============================-->

<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Event <span class="alternate">Schedule</span></h3>
					<!--
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore
					</p>
					-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="schedule-tab">
					<ul class="nav nav-pills text-center">
						<li class="nav-item">
							<a class="nav-link active" href="#oct29" data-toggle="pill">
								Day-01
								<span>29 October 2023</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#oct30" data-toggle="pill">
								Day-02
								<span>30 October 2023</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#oct31" data-toggle="pill">
								Day-03
								<span>31 October 2023</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#nov01" data-toggle="pill">
								Day-04
								<span>01 November 2023</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="schedule-contents">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active schedule-item" id="oct29">
							<!-- Headings -->
							<ul class="m-0 p-0">
								<li class="headings">
									<div class="time">Time</div>
									<div class="speaker">Event 1</div>
									<div class="subject">Event 2</div>
									<div class="venue2">Event 3</div>
								</li>
								<!-- Schedule Details -->
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">10h30-12h00</span>
										</div>
										<div class="speaker">
											Coming Soon
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">12h00-14h00</span>
										</div>
										<!-- Subject -->
										<div class="subject">
											<span class="alternate">Lunch</span>
										</div>
										
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">14h30-16h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											Coming Soon
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">16h30-18h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											Coming Soon
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade schedule-item" id="oct30">
							<!-- Headings -->
							<ul class="m-0 p-0">
								<li class="headings">
									<div class="time">Time</div>
									<div class="speaker">Authors</div>
									<div class="subject">Subject</div>
									<div class="venue2">Room</div>
								</li>
								<!-- Schedule Details -->
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">10h30-12h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-1-morning.html" class="btn btn-main-md">Special Session 1</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">12h00-14h00</span>
										</div>
										<!-- Subject -->
										<div class="subject">
											<span class="alternate">Lunch</span>
										</div>
										
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">14h30-16h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											<a href="program-1-afternoon1-1.html" class="btn btn-main-md"> Session 1</a>
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-1-afternoon1-2.html" class="btn btn-main-md">Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											<a href="program-1-afternoon1-3.html" class="btn btn-main-md">Session 3</a>
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">16h30-18h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											<a href="program-1-afternoon2-1.html" class="btn btn-main-md"> Session 1</a>
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-1-afternoon2-2.html" class="btn btn-main-md">Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											<a href="program-1-afternoon2-3.html" class="btn btn-main-md">Session 3</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade schedule-item" id="oct31">
							<!-- Headings -->
							<ul class="m-0 p-0">
								<li class="headings">
									<div class="time">Time</div>
									<div class="speaker">Authors</div>
									<div class="subject">Subject</div>
									<div class="venue2">Room</div>
								</li>
								<!-- Schedule Details -->
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">10h30-12h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-2-morning.html" class="btn btn-main-md">Special Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">12h00-14h00</span>
										</div>
										<!-- Subject -->
										<div class="subject">
											<span class="alternate">Lunch</span>
										</div>
										
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">14h30-16h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											<a href="program-2-afternoon1-1.html" class="btn btn-main-md"> Session 1</a>
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-2-afternoon1-2.html" class="btn btn-main-md">Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">16h30-18h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											<a href="program-2-afternoon2-1.html" class="btn btn-main-md"> Session 1</a>
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-2-afternoon2-2.html" class="btn btn-main-md">Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											<a href="program-2-afternoon2-3.html" class="btn btn-main-md">Session 3</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade schedule-item" id="nov01">
							<!-- Headings -->
							<ul class="m-0 p-0">
								<li class="headings">
									<div class="time">Time</div>
									<div class="speaker">Authors</div>
									<div class="subject">Subject</div>
									<div class="venue2">Room</div>
								</li>
								<!-- Schedule Details -->
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">10h30-12h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-3-morning.html" class="btn btn-main-md">Special Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
											
										</div>
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">12h00-14h00</span>
										</div>
										<!-- Subject -->
										<div class="subject">
											<span class="alternate">Lunch</span>
										</div>
										
									</div>
								</li>
								<li class="schedule-details">
									<div class="block">
										<!-- time -->
										<div class="time">
											<i class="fa fa-clock-o"></i>
											<span class="time">14h30-16h00</span>
										</div>
										<!-- Speaker -->
										<div class="speaker">
											<a href="program-3-afternoon1-1.html" class="btn btn-main-md"> Session 1</a>
										</div>
										<!-- Subject -->
										<div class="subject">
											<a href="program-3-afternoon1-2.html" class="btn btn-main-md">Session 2</a>
										</div>
										<!-- Venue -->
										<div class="venue2">
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				@@if( button === true ){
				<div class="download-button text-center">
					<a href="https://drive.google.com/file/d/1RAzXKVFCq7TLwnpSCsFFLdgrx_pVWWSA/view?usp=share_link" target="_blank" rel="noopener noreferrer" class="btn btn-main-md">Download Schedule</a>
				</div>
				}
			</div>
		</div>
	</div>
</section>

<!--====  End of Schedule  ====-->