<!--===========================
=        Submissions         =
============================-->

<section class="section call4paper">
	<div class="container">
		<div class="content-block">
			<h2>Submissions</h2>
			<div class="description-one">
				<p>
					Authors should submit original work that has neither appeared elsewhere for publication, nor which is under review for another refereed publication.  Papers must be written in English. Besides, all submissions must be in MS-Word or Latex
					following the <a href="https://www.ieee.org/conferences/publishing/templates.html" target="_blank">conference-paper templates</a> in Word or LaTeX provided by IEEE.
				</p>
				<br>
				<p>
					Submissions must be no longer than 6 pages, including all figures and references.Papers should be electronically submitted throug <a href="https://easychair.org/conferences/?conf=lacci2023" target="_blank">Easychair System</a>. The publication accepted papers implies that at least one of their authors will be full-registered at LA-CCI 2023 and will present the paper.
				</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of About  ====-->